<div class="mdl-grid" style="height: 10vh;">
  <div class="mdl-cell mdl-cell--4-col">
    <img class="jellycore-logo" src="../assets/jc-logo.png" />
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
<div class="mdl-grid center" style="height: 80vh;">
  <div class="center-text mdl-cell mdl-cell--12-col">
    <h1 class="header">
      Let's build something
    </h1>
    <h1 class="header">
      <span id="adjective" >{{availableAdjectives[adjectiveIndex]}}</span>
    </h1>
  </div>
</div>

<a href="mailto:leo@jellycore.net" target="" id="contact-us" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--colored-contrast contact">contact us</a>